@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600&display=swap');

$light-pink:#c44786;
$light-orange: #e55c5b;
$muted: #eeeeee;
$black: #0c0c0c;
$main-bg: rgb(238, 238 , 238);
$gray: #8d8d8d;
$gradient-primary: linear-gradient(180deg, #C44786 0%, #E55C5B 100%);

@font-face {
    font-family: 'primary';
    src: url('assets/fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf') format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
html{
    scroll-behavior: smooth;
    color: $black;
}

.credential-wrapper{
    width: 100%;
    min-height: 100vh;
    padding: 11rem 1rem;
    background: $main-bg;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credential-container{
    background: #fff;
    border-radius: 20px;
    padding: 5rem 3rem ;
    padding-bottom: 2rem;
    width: 600px;
    position: relative;
    .credential-badge{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 10rem;
    }
    .credential--header{
        text-transform: uppercase;
        text-align: center;
        margin: 1rem 0;
    }
    .social-media-wrapper{
        display: flex;
        justify-content: center;
    }
    .btn-social{
        display: flex;
        background: #fff;
        border: none;
        align-items: center;
        margin: 0 1rem;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        padding: 0.5rem 1rem;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
    }
    .social-icon{
        height: 1.5rem;
        margin-right: 0.5rem;
    }
    .or-divider{
        font-size: 1.2rem;
        margin: 1rem 0;
        text-align: center;
        width: 100%;
        display: block;
    }
    .field-wrapper{
        display: flex;
        flex-direction: column;
    }
    .otp-wrapper{
        margin: 1rem 0;
    }
    .field{
        font-size: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.3);;
        padding: 0.5rem 1rem ;
        border-radius: 5px;
        margin: 1rem 0;
    }
    .field-label{
        font-weight: 600;
    }
    .error-message{
        color: #0038A5;
    }
    .submit-wrapper{
        display: flex;
        justify-content: center;
    }
    .btn-submit{
        background: $gradient-primary;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        margin:2rem auto;
        cursor: pointer;
    }
}

@media only screen and (max-width:550px) {
    .credential-wrapper{
        background: #fff;
        padding: 5rem 0;
        height: auto;
    }
    .credential-container{
        padding: 0 1rem;
        .credential-badge{
            position: initial;
            top: 0;
            left: 0;
            transform: translateX(-50%);
            margin-left: 50%;
            height: 8rem;
        }
        .credential--header{
            font-size: 1.3rem;
        }
        .or-divider{
            font-size: 1rem;
        }
        .field-label{
            font-size: 15px;
        }
        .field{
            font-size: 14px;
        }
        .error-message{
            font-size: 14px;
        }
        .btn-submit{
            font-size: 15px;
        }
    }
}

