@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600&display=swap");
@font-face {
  font-family: 'primary';
  src: url("assets/fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

html {
  scroll-behavior: smooth;
  color: #0c0c0c;
}

.credential-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 11rem 1rem;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.credential-container {
  background: #fff;
  border-radius: 20px;
  padding: 5rem 3rem;
  padding-bottom: 2rem;
  width: 600px;
  position: relative;
}

.credential-container .credential-badge {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 10rem;
}

.credential-container .credential--header {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

.credential-container .social-media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.credential-container .btn-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.credential-container .social-icon {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.credential-container .or-divider {
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
  display: block;
}

.credential-container .field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.credential-container .otp-wrapper {
  margin: 1rem 0;
}

.credential-container .field {
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.credential-container .field-label {
  font-weight: 600;
}

.credential-container .error-message {
  color: #0038A5;
}

.credential-container .submit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.credential-container .btn-submit {
  background: -webkit-gradient(linear, left top, left bottom, from(#C44786), to(#E55C5B));
  background: linear-gradient(180deg, #C44786 0%, #E55C5B 100%);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin: 2rem auto;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .credential-wrapper {
    background: #fff;
    padding: 5rem 0;
    height: auto;
  }
  .credential-container {
    padding: 0 1rem;
  }
  .credential-container .credential-badge {
    position: initial;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: 50%;
    height: 8rem;
  }
  .credential-container .credential--header {
    font-size: 1.3rem;
  }
  .credential-container .or-divider {
    font-size: 1rem;
  }
  .credential-container .field-label {
    font-size: 15px;
  }
  .credential-container .field {
    font-size: 14px;
  }
  .credential-container .error-message {
    font-size: 14px;
  }
  .credential-container .btn-submit {
    font-size: 15px;
  }
}
/*# sourceMappingURL=credential.styles.css.map */