
.profile-display--wrapper {
    padding: 2rem 10% !important;

    .profile-display--title {
        margin-bottom: 3rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    .avatar-select-container {
        display: flex;
        margin-right: 1rem;

        .avatar-wrapper {
            cursor: pointer;
            margin-right: 0.5rem;
            width: 6rem;
            height: 6rem;
            border: 2px solid #C4C4C4;

            .avatar {
                width: 100%;
            }
        }
    }

    .field-wrapper {
        input {
            outline: none;
            border: 1px solid #000000;
            height: 1.8rem;
            width: 70%;
            
            padding-left: 0.5rem;
            font-size: 1.1rem;
        }
    }

    button {
        background: #DF398B;
        color: #fff;
        border: none;
        border-radius: 5px;
        width: 6rem;
        cursor: pointer;
        height: 2rem;
    }
}

@media only screen and (max-width:950px) {
    .profile-display--wrapper {
        .avatar-select-container {
            .avatar-wrapper {
                width: 5rem;
                height: 5rem;
                padding: 0.8rem;
            }
        }
    }
}


@media only screen and (max-width:800px) {
    .profile-display--wrapper {
        .avatar-select-container {
            .avatar-wrapper {
                width: 5.5rem;
                height: 5.5rem;

            }
        }
    }
}

@media only screen and (max-width:700px) {
    .profile-display--wrapper {
        .avatar-select-container {
            .avatar-wrapper {
                width: 4rem;
                height: 4rem;
                padding: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width:550px) {
    .profile-display--wrapper {
        grid-template-areas: "title title"
            "edit edit"
            "fields fields"
            "password-btn password-btn"
            "password password" !important;

        .profile-display--title {
            margin-top: 3rem;
        }

        h3 {
            grid-area: title;
            margin-top: 6rem;
            margin-bottom: 0;
        }

        .avatar-select-container {
            margin-top: 0;

        }

        .field-wrapper {
            input {
                width: 16rem;
            }
        }
    }
}

@media only screen and (max-width:340px) {
    .profile-display--wrapper {
        .avatar-select-container {
            .avatar-wrapper {
                width: 3rem;
                height: 3rem;
            }
        }
        .field-wrapper{
            input{
                width: 100%;
            }
        }
    }
}