.products-page-wrapper {
    grid-template-areas: "crump crump" "cover cover""filter sort""filter products""footer footer";
    grid-template-columns: 16rem auto;
    grid-template-rows: auto max-content 2rem auto auto;
    padding: 0 10%;
    height: auto;
    margin-bottom: 0;
    padding-top: 8rem;



    .landing-filter-button {
        display: none;
        cursor: pointer;
    }

    #sort{
        width: max-content;
        justify-self: flex-end;
        padding: 0.5rem;
        border-radius: 5px;
        background: #fff;
        font-weight: 500;
        grid-area: sort;
        height: max-content;
        font-size: 0.7rem;

    }

    .landing-cover {
        grid-area: cover;
        display: flex;
        background: #fff;
        height: max-content;
        padding: 1rem 1rem 0 1rem;
        border-radius: 10px;

        .main-cover {
            width: 100%;

            .banner {
                border-radius: 10px;
                height: 10rem;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .cover-bottom {
                display: flex;
                width: 90%;
                height: max-content;

                .dp {
                    width: 10rem;
                    margin-left: 1rem;
                    height: 10rem;
                    margin-top: -3rem;
                    border-radius: 10px;
                }

                .bottom-content {

                    padding: 0.7rem;

                    strong {
                        font-weight: 800;
                        font-size: 1.3rem;
                    }

                    p {
                        font-size: 0.8rem;
                        margin-bottom: 0.5rem;
                        width: 90%;
                    }

                    .rating-container {
                        display: flex;
                        align-items: center;
                        color: #FF5D50;

                    }
                }
            }
        }
    }

    .filter-container {
        background: #fff;
        // margin-top: 1rem;
        border-radius: 10px;
        grid-area: filter;
        height: max-content;

        .filter-header {
            background: linear-gradient(180deg, #FF5D50 0%, #DE388D 100%);
            height: 3rem;
            padding: 1rem;
            color: #fff;
            font-weight: 800;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .last-wrapper {
            border: none
        }
    }

    .product-listing {
        padding-top: 1rem;
        grid-area: products;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;

        .product--card{
            width: calc(100% / 4 - 2rem);
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 1rem;
            .add-to-cart{
                display: flex;
                justify-content:space-between;
                margin-top: auto;   
                margin-bottom: 1rem;
                button{
                    cursor: pointer;
                    background: linear-gradient(93.46deg, #DE388D 0%, #FF5D50 100%);
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    font-weight: 600;
                    width: 5rem;
                    font-size: 0.8rem;
                }
              
            }
        }
        .wishlist-outlined{
            position: absolute;
            top: 5px;
            right: 5px;
            color: #fff;
            font-size: 2rem;
            cursor: pointer;
        }
        .card--image-wrapper{
            width: 100%;
            height: calc(100vw / 6);
            position: relative;
            border-radius: 10px;
            .product--image{
                border-radius: 10px;
            }
        }
        .product--image{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
        .product-card--title{
            font-size: 1rem;
            margin-top: 1rem;
        }
        .product--price{
            margin-top: 1rem;
            
        }

    }

}

@media only screen and (max-width:1330px) {
    .products-page-wrapper {
        .product-listing {
            .product--card{
                width: calc(100% / 4 - 1rem)
            }
    
            .card--image-wrapper{
                height: calc( 100vw / 6);
            }

        }
    }
}

@media only screen and (max-width:1275px) {
    .products-page-wrapper {
        .product-listing {
            padding-top: 0.5rem;
                .product--card{
                    width: calc(100% / 2 - 1rem);
                    margin: 0.5rem;
                }
        .card--image-wrapper{
            height: calc( 100vw / 5);
        }

        }
    }
}
@media only screen and (max-width:1055px) {
    .products-page-wrapper{
        .product-listing{ 
            .product--card {
        
            .add-to-cart{
                flex-direction: column;
                button{
                    height: 2rem;
                    width: 5rem;
                    width: 100%;
                }
            }
            .product-card--title{
                font-size: 17px;
            }
            .product--price{
                font-size: 0.9rem;
                margin-top: 0.4rem;
                margin: 0.5rem 0;
            }
        } 
    }
    }
}
@media only screen and (max-width:922px) {
    .products-page-wrapper {
        .landing-cover {
            .main-cover {
                .bread-crump{
                    display: none;
                }
                .banner {
                    height: 10rem;
                }

                .cover-bottom {
                    width: 100%;
                }
            }
        }
        .product-listing{
            .product--card{
            .product-card--title{
                font-size: 14px;
            }
        }
        }
    }
}

@media only screen and (max-width:850px) {
    .products-page-wrapper {
        grid-template-areas: "cover "
                             "sort"
                             "products";
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
    .bread-crump{
        display: none;
    }
        .landing-filter-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 0.5rem;
            font-size: 2rem;
            background: -webkit-gradient(linear, left top, left bottom, from(#C44786), to(#E55C5B));
            background: linear-gradient(180deg, #C44786 0%, #E55C5B 100%);
            border-radius: 50%;
            border: none;
            color: #fff;
            z-index: 1000;
            display: block;
        }

        .filter-container {
            grid-area: products;
            display: none;
            position: fixed;
            background: #Fff;
            z-index: 100000;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 2rem;
            display: none;
            opacity: 0;

            .filter-header {
                display: none;
            }

        }

        .product-listing {
            .product--card {
                width: calc(100% / 4 - 1rem);
            }
               .card--image-wrapper{
                height: calc( 100vw / 4);
               }
        }
    }
}


@media only screen and (max-width:730px) {
    .products-page-wrapper {
        padding: 0;

        .landing-cover {
            margin-top: 4rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .product-listing {
            .product--card {
                .card--image-wrapper {
                    height: calc(100vw / 3);
                }
            }
        }
    }
}


@media only screen and (max-width:580px) {
    .products-page-wrapper {
        background: #fff;

        .landing-cover {
            .main-cover {
                .banner {
                    height: 15rem;
                }

                .cover-bottom {
                    .dp {
                        width: 9rem;
                        height: 9rem;
                        margin-top: -2rem;
                    }

                    .bottom-content {
                        p {
                            font-size: 0.7rem;
                        }

                        strong {
                            font-size: 1rem;
                        }

                        .rating-container {
                            span {
                                font-size: 1.2rem;
                            }

                        }
                    }
                }
            }
        }

        .product-listing {
            .product--card {
                width: calc(100% / 3 - 2rem);

                .card--image-wrapper {
                    height: calc(100vw / 2.5);
                }
            }
        }
    }
}
@media only screen and (max-width:470px) {
    .products-page-wrapper{
        .product-listing{
            .product--card{
                    width: calc(100% / 2 - 1rem);
                    margin: 0.5rem;
                .card--image-wrapper{
                    height: calc(100vw / 2);
                }
            .product-card--title{
                font-size: 0.9rem;
            }
            .product--price{
                font-size: 0.85rem;
            }
            
        }
    }
    }
}
@media only screen and (max-width:430px) {
    .products-page-wrapper {
        .landing-cover {
            padding: 0;

            .main-cover {
                .banner {
                    height: 13rem;
                    border-radius: 0;
                }

                .cover-bottom {
                    .bottom-content {
                        padding-top: 0.1rem;

                        small {
                            font-size: 0.7rem;
                        }

                        p {
                            margin-top: 0.2rem;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (max-width:390px) {
    .products-page-wrapper {
        .landing-cover {

            .main-cover {
                .banner {
                    height: 11rem;
                }

                .cover-bottom {
                    .bottom-content {
                        strong {
                            font-size: 0.9rem;
                        }

                        p {
                            font-size: 0.6rem;
                            width: 100%;
                            margin-top: 0.1rem;
                        }
                    }
                }
            }
        }

        .product-listing {
.product--card{
    .product-card--title{
        font-size: 0.86rem;
    }
    .product--price{
        font-size: 0.84rem;
    }
}
        }
    }
}