@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600&display=swap');

$light-pink:#c44786;
$light-orange: #e55c5b;
$muted: #eeeeee;
$black: #0c0c0c;
$main-bg: rgb(238, 238 , 238);
$gray: #8d8d8d;
$gradient-primary: linear-gradient(180deg, #C44786 0%, #E55C5B 100%);

@font-face {
    font-family: 'primary';
    src: url('assets/fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf') format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
html{
    scroll-behavior: smooth;
    color: $black;
}


.order-container{
    padding: 10rem 12%;
    background: $main-bg;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 2rem;
    grid-template-areas: 'crump crump''filter content';
    .mobile-filter-button{
        display: none;
        cursor: pointer;
    }
    .bread-crump{
        grid-area: crump;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        li{
            display: flex;
            align-items: center;
            opacity: 0.7;
            a{
                color: #0c0c0c;
                text-decoration: none;
            }
            &::after{
               
                margin: 0 1rem ;
            }
            &:last-child{
                opacity: 1;
                &::after{
                    content: ''
                }
            }
        }
    }
.dashboard--container{
 
    .cart-content {
        grid-area: content;
    }
    .cart--header {
        width: 100%;
        border-radius: 10px;
        background: #fff;
        padding: 1rem;
        display: flex;
        justify-content:space-between;
    }
    .cart--title{
        font-weight: 500;
        font-size: 1.6rem;
    }
    .cart-item{
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin: 1rem 0;
        display: flex;
        padding: 1rem;
    }
    .cart-item--title{
        font-size: 1.1rem;
        margin-right: 0.5rem;
    }
    .cart-item--image{
        height: 8rem;
        border-radius: 10px;
        margin-right: 1rem;
    }
    .cart-item--body{
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .cart-product{
        display: flex;
        justify-content: space-between;

    }
    .price{
        color: $gray;
        padding: 0.5rem 0;
    }
    .stock-status{
        font-size: 0.8rem;
    }
    .quantity--wrapper{
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
    }
    .quantity--changer{
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
    }
    .quantity{
        padding: 3px 0.5rem;
        border-radius: 5px;
        font-size: 0.9rem;
        margin: 0 0.5rem;
        background-color: #000;
        color: #fff;
    }
    .delete-and-total--wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .delete--btn{
        color: $light-pink;
    }
    .total--price{
        font-weight: 600;
        .price{
            color: $light-pink;
        }
    }
}

.filter-date {
    display: flex;
    padding-left: 0.5rem;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;
    width: 8rem;
    height: 2rem;
    font-weight: 600;
    border-radius: 5px;
    padding-right: 0.5rem;

    select {
        cursor: pointer;
        border: none;
        font-weight: 600;
        background: none;
    }

    option {
        background: #EEEEEE;

    }
}
.filter-container {
    cursor: pointer;
    grid-area: filter;
    background: #fff;
    width: 13rem;
    height: max-content;
    border-radius: 10px;
    margin-right: 1rem;
    padding-bottom: 1rem;
    
}
.nav-header{
    display: none;
    cursor: pointer;
}
.filter-header {
    padding: 1rem;

    h3 {
        border-bottom: 1px solid #00000033;
        padding-bottom: 1rem;
    }
}

.filter-content {
    .filter-items {
        display: flex;
        padding: 0.4rem 8%;

        p {
            font-weight: 600;
            color: #000000;
            margin-left: 1rem;
        }
    }
}
.btn-filter {
    display: none !important;
}
}


@media only screen and (max-width:1370px){
    .order-container{
        padding: 10rem 5%;
    }
    
}
@media only screen and (max-width:850px) {
    
    .order-container{
        padding: 5rem 1rem;
        grid-template-areas: 'content''bill';
        grid-template-columns: 1fr;
        .mobile-filter-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 0.5rem;
            font-size: 2rem;
            background: -webkit-gradient(linear, left top, left bottom, from(#C44786), to(#E55C5B));
            background: linear-gradient(180deg, #C44786 0%, #E55C5B 100%);
            border-radius: 50%;
            border: none;
            color: #fff;
            z-index: 1000;
            display: block;
          }
        .bread-crump{
            display: none;
        }
        .filter-container{  
            display: none;
                position: fixed;
                background: #Fff;
                z-index: 100000;
                top: 0;
                left: 0;
                width: 100%;
                padding-top: 4rem;
                display: none;
                opacity: 0;
        
        }
        .filter-container{
          
        .filter-items{
            padding: 0.4rem 3%;
        }
    }
    .nav-header{
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        background: #fff;
        i{
            cursor: pointer;
        }
    }
    }
}

@media only screen and (max-width:460px) {
    .order-container{
        padding: 4rem 0 0 0;
        .dashboard--container{
        .cart--header{
            border-radius: 0;
            font-size: 0.9rem;

        }
        .filter-date{
            width: 7rem;
            select{
                font-size:0.7rem;
                
            }
        }
        .cart-item{
            margin: 0;
            border-radius: 0;
        }
        .cart-item--image{
            height: 7rem;
        }
        .cart-item--title{
            font-size:1rem;
        }
        .price{
            font-size: 0.9rem;
        }
        .quantity--wrapper{
            padding: 0;
        }
        .qty--title{
            font-size: 0.9rem;
        }
        .quantity{
            margin: 0 0.2rem;
        }
        .delete--btn{
            font-size:0.9rem;
        }
        .total--price{
            font-size:0.9rem;
        }
        .price{
            font-size: 0.8rem;

        }
    }
    }
}

@media only screen and (max-width:370px) {
    .order-container{
        .dashboard--container{
            .cart-item--image{
                height: 6rem;
            }
            .cart-item--title{
                font-size: 0.9rem;
            }
            .cart--heading{
                font-size: 1.1rem;
            }
            .price{
                font-size: 0.7rem;
            }
            .quantity--changer{
                font-size: 1rem;
            }
            .quantity{
                padding: 1px 0.4rem;
            }
        }
    }
}